[user]
    email = cmlaverdiere@gmail.com
    name = Chris Laverdiere
    signingkey = 3BD854A6

[alias]
    aa = add -A
    br = branch
    ce = config -e
    cm = commit
    co = checkout
    ds = diff --stat
    dst = diff --staged
    pm = push origin master
    st = status -s

[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[diff]
    compactionHeuristic = true

[pager]
	log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

[push]
    default = simple

[interactive]
	diffFilter = diff-highlight

[merge]
	tool = vimdiff
	conflictstyle = diff3
	prompt = false

[mergetool]
	keepBackup = false
