[user]
    email = cmlaverdiere@gmail.com
    name = Chris Laverdiere
    signingkey = 3BD854A6

[alias]
    aa = add -A
    br = branch
    ce = config -e
    cm = commit
    cmn = commit --no-verify
    co = checkout
    ds = diff --stat
    dst = diff --staged
    pm = push origin master
    st = status -s
    set-upstream = !git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD)
    sw = "!f() { git branch --format='%(refname:short)' | fzf --query=\"$1\" --select-1 | xargs git switch; }; f"
    please = push --force-with-lease

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    pager = diff-so-fancy | less --tabs=4 -RFX
    hooksPath = /usr/local/dd/global_hooks

[diff]
    compactionHeuristic = true

[push]
    default = current

[interactive]
    diffFilter = diff-so-fancy --patch

[merge]
    tool = nvim
    prompt = false

[mergetool "nvim"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"

[mergetool]
    keepBackup = false

[hub]
    protocol = https

[url "git@github.com:"]
    insteadOf = https://github.com/

[color]
    ui = true

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[rebase]
	autoStash = true
